
.pageContainer{
    left: 0px;
    background-color: antiquewhite;
    margin-left: 0px;
    width: 100%;
    min-width: 980px;
    position: absolute;
    top: 108px;
    height: 100%;
}

.c2{
    background-color: black;
}
.p2bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.p2inlineContent{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.vl1{
    margin-left: calc((100% - 980px) * 0.5);
    max-height: 2000px;
    width: 0 !important;
    min-width: 0 !important;
}

.vl1line{
    border-left: 1px solid rgba(184, 184, 184, 1);
    margin-left: -0.5px;
    width: 100%;
    height: 100%;
}

.txtNew{
    word-wrap: break-word;
    text-align: start;
    margin-left: calc((100% - 980px) * 0.5);
}

.font8{
    font-size: 16px;
    line-height: 2em;
    font-family: tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;
    color: #FFFFFF;
}

.color17{
    color: #EB4A3E;
}

.lbiconsContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    white-space: nowrap;
}

.lbiconsContainer > li:last-child{
    margin: 0 !important;
}

.contactForm{
    margin-left: calc((100% - 980px) * 0.5);
}

.fieldMessage{
    min-height: 130px;
    resize: none;
    font: normal normal normal 16px/1.4em 'open sans',sans-serif;
    background-color: rgba(219, 219, 219, 1);
    border: 2px solid rgba(0, 0, 0, 1);
    color: #000000;
    margin: 0 0 5px;
    width: 100%;
}

.contactFormInput{
    font: normal normal normal 16px/1.4em 'open sans',sans-serif;
    background-color: rgba(219, 219, 219, 1);
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid rgba(0, 0, 0, 1);
    color: #000000;
    margin: 0 0 5px;
    width: 100%;
}

.buttonSend{
    background-color: rgba(235, 74, 62, 1);
    font: normal normal normal 16px/1.4em 'Open Sans',sans-serif;
    border: 0;
    color: #000000;
    cursor: pointer;
    margin: 0;

    grid-column: 3;
    grid-row: 1/span 1;
    justify-self: end;
}


#siteFooter{
    margin: 0;
    margin-left: 0px;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: 0 0;
    bottom: 0;
}

.footer-section{
    bottom: auto;
    left: 0px;
    margin-left: 0px;
    width: 100%;
    min-width: 980px;
    position: absolute;
    top: 727px;
    height: 77px;
}
.fc3centeredContent{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.fc3_bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    border-top: 0px solid rgba(0, 0, 0, 1);
    border-bottom: 0px solid rgba(0, 0, 0, 1);
}

.fc3bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.fc3_bg-center{
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0px;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 0;
}

.fc3inlineContent{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#LnkBr2{
    margin-left: calc((100% - 980px) * 0.5);
}

.lblitemsContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    white-space: nowrap;
}

#LnkBr2itemsContainer{
    list-style: none;
}

.lbimageItem{
    width: 21px;
    height: 21px;
    margin-bottom: 0;
    margin-right: 13px;
    display: inline-block;
}

.imageItemlink{
    cursor: pointer;
}

.lbitemImage{
    position: absolute;
    width: 21px;
    height: 21px;
}


#copyright{
    left: 600px;
    top: 29px;
    position: absolute;
    height: 25px;
}

.cpr{
    color: white;
    font-weight: bold;
    font-size: 13px;
    text-align: left;
}

#mainLogo{
    height: 82px;
    width: 550px;
    left: 200px;
}

.logoText{
    font-size: 30px;
    position: center;
    text-align: center;
    padding-top: 17px;
}

.page-header{
    background-color: khaki;
    position: absolute;
    left: 0px;
    margin-left: 0px;
    width: 100%;
    min-width: 980px;
    top: 0px;
    height: 108px;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 108px; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.registerPageTitle{
    width: 200px;
    height: 80px;
    margin-top: 15px;
    padding-top: 20px;
    color: indianred;
    margin: 0 auto;
    position: center;
    text-align: center;
}

.formContainer{
    width: 200px;
    position: center;
    margin: 0 auto;
}

/*Dashboard*/

.dashboardPageContainer{
    top: 108px;
    left: 160px;
    background-color: antiquewhite;
    margin-left: 0px;
    width: 100%;
    min-width: 980px;
    position: absolute;
    height: 100%;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
}
.dashboard-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-menu .menu-item {
    width: 100px;
    height: 160px;
    text-align: center;
    padding-top: 15px;
    margin-right: 20px;
}
.dashboard-menu .menu-item a {
    color: cadetblue;
}
.dashboard-menu .menu-item:last-child {
    margin-right: 0;
}
.dashboard-menu .menu-item .title {
    display: block;
    padding-top: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.dashboard-alerts {
    margin-left: 50px;
    width: 70%;
}
.alert-item {
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.alert-item span {
    margin-left: 15px;
}
.alert-info {
    background: #fff;
    border: 1px dashed deepskyblue;
    color: deepskyblue;
}

.alert-light {
    background: #fff;
    border: 1px dashed yellowgreen;
    color: yellowgreen;
}
.icon-plus-square {
    font-size: 3.5rem;
}

.dashboard-content {
    margin-top: 20px;
}
.dashboard-content-title {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
}
.dashboard-content-title span {
    color: forestgreen;
}











